*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins-Medium', sans-serif
}

body{
    background-color:  #CBC5EA;
    position: relative;
    display: flex;
}

/* .header{
    width: 100%;
    height: 100vh;
    
} */

.sideNavigationBar{

    width: 250px;
    height: 400%;
    background-color: #313D5A;
    position: fixed;
    top: 0;
    left:0;
    padding: 20px 30px;
}

.topNavigationBar{
    visibility: hidden;
    background-color: #313D5A;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburgerDropDown{

    font-size: 30px;

}

#topLogo{

    /* border: 1px solid black; */
    width:90px;
}

#topLogo img{

    height: 100%;
    aspect-ratio: 1.0;
}

#logo{
    width:70%;
    margin-left: 25px;
    margin-bottom: 65%;
    height: fit-content;
}

.logoImg{

    width: 100%;
    aspect-ratio: 1;
    
}

.sideBarNavigation{
    list-style: none;
    position: relative;
}

.sideBarNavigation li{
    padding: 15px 10px;
    font-size: 15px;
}

.sideBarNavigation li a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sideBarNavigation li a i{

    font-size: 15px;
    margin-right: 21px;
}

#resumeButton{

    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #3F7CAC;
    color:#391306;
    font-weight: bold;
    box-shadow: rgba(63, 124, 172, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border: 1px solid transparent;
}

#resumeButton:hover{

    color:white;
}

.active{

    background-color: 
    #3F7CAC;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 6px;
    /* display: none; */
    transition: top 0.5s;
    box-shadow: 0 5px 10px rgba(63, 124, 172, 0.4);
}

.sideBarNavigation li:hover a{
    transition: 0.3s;
}

.sideBarNavigation li:hover ~ .active{
    display: block;
}

/* .sideBarNavigation li:nth-child(1):hover ~ .active{
    top:0%;
} */

.sideBarNavigation li:nth-child(2):hover ~ .active{
    top:25%;
}

.sideBarNavigation li:nth-child(3):hover ~ .active{
    top:50%;
}

.sideBarNavigation li:nth-child(4):hover ~ .active{
    top:75%;
}



.sideContent{
    margin: 30px 10px 0px 120px;
    width: 100%;

}

.Me{

    border: 1px solid transparent;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* body { font: 400 1em/1.5 "Neuton"; background: #090d00; color: rgba(255,255,255,.25); text-align: center; margin: 0 } */

#Name {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	padding: 1.5em 0em;
	position: absolute;
	top: 17%;
	left: 40%;
	width: 40em;
	margin: 0 0 0 -20em;
}
  #Name span {

  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;

/* Clip Background Image */

	  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }


/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

#MeDescription{

    border: 1px solid transparent;
    color: #391306;
}

#myImage{

    border: 1px solid transparent;
    width: 25%;
}

#myPic{
    width:100%;
    height: 100%;
}

#myPicRound{
    display: none;
}

.normalFont{

    font-size: 40px;
}

.nameFont{
    margin: 20px 0px 0px 0px; 
    font-weight: 700;
    font-style: italic;
    font-size: 75px;
}

.descriptionFont{
    margin-top: 20px;
    font-size: 20px;
    word-spacing: 10px;
    line-height: 30px;
}

.aboutMe{
    margin: 100px 20px 20px 20px;
    
}

#techStack>p{
    padding-left: 50px;
    padding-top: 70px;
}

.techStackWrapper{
    /* border: 1px solid red; */
    margin: 20px 20px 20px 20px;
    padding: 40px 30px;
    display: grid;
    margin: auto;
    grid-template-columns: 45% 45%;
    gap: 20px;
}

.techStackCol{
    /* border:1px solid red; */
    border-radius: 6px;
    padding: 10px;
}

.stackENtry{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #183642;
    color: white;
    border-radius: 6px;
    font-size: 30px;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
}

.stackENtry:hover{

    padding: 30px;
    transition: 0.5s;
}

.stackENtry i{
    font-size: 45px;
    margin-right: 20px;
    margin-top: -5px;

}

.stackENtry img{ 
    height: 40px;
    aspect-ratio: 1;
    margin-right: 20px;
}

.stackENtry:nth-child(2) img{
    width: 50px;
}

@media only screen and (max-width: 800px){

    .topNavigationBar{
        /* border: 1px solid black; */
        visibility: visible;
        height: 100px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .sideNavigationBar{
        display: none;
    }

    .sideContent{

        /* border: 1px solid black; */
        margin: 150px 0px 0px 0px;
    }

    #myPic{
        display: none;
    }

    #myPicRound{
        display: block;
        width:175%;
        margin-left: 120%;
        margin-top: 40px;
    }

    .Me{
        display: block;
        
    }

    .descriptionFont{
        text-align: center;
        line-height: 30px;
    }

    .stackENtry{
        padding-left: 15px;
    }

    .stackENtry p{
        font-size: 85%;
        padding-top: 3px;
    }
    
}

@media only screen and (max-width: 500px){

    .stackENtry p{
        display: none;
    }

    .stackENtry{
        padding-left: 48px;
    }

    #Name span{

        font: 700 3em/1 "Oswald", sans-serif;
        position: absolute;
        left: 30%;
        top:-120%;
    }

}