*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins-Medium', sans-serif;
}

body{
    background-color:  #CBC5EA;
    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;
}

/* .header{
    width: 100%;
    height: 100vh;
    
} */


.sideNavigationBar{

    width: 17vw;
    height: 400%;
    background-color: #313D5A;
    position: fixed;
    top: 0;
    left:0;
    padding: 20px 30px;
}

.topNavigationBar{
    visibility: hidden;
    background-color: #313D5A;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburgerDropDown{

    font-size: 30px;

}

#topLogo{

    /* border: 1px solid black; */
    width:90px;
}

#topLogo img{

    height: 100%;
    aspect-ratio: 1.0;
}

#logo{
    width:70%;
    margin-left: 25px;
    margin-bottom: 65%;
    height: fit-content;
}

.logoImg{

    width: 100%;
    aspect-ratio: 1;
    
}

.sideBarNavigation{
    list-style: none;
    position: relative;
}

.sideBarNavigation li{
    padding: 15px 10px;
    font-size: 15px;
}

.sideBarNavigation li a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sideBarNavigation li a i{

    font-size: 15px;
    margin-right: 21px;
}

#resumeButton{

    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #3F7CAC;
    color:#391306;
    font-weight: bold;
    box-shadow: rgba(63, 124, 172, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border: 1px solid transparent;
}

#resumeButton a{
    text-decoration: none;
    color: #183642;
}

#resumeButton a:hover{

    color:white;
}

.active{

    background-color: 
    #3F7CAC;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 6px;
    /* display: none; */
    transition: top 0.5s;
    box-shadow: 0 5px 10px rgba(63, 124, 172, 0.4);
}

.sideBarNavigation li:hover a{
    transition: 0.3s;
}

.sideBarNavigation li:hover ~ .active{
    display: block;
}

/* .sideBarNavigation li:nth-child(1):hover ~ .active{
    top:0%;
} */

.sideBarNavigation li:nth-child(2):hover ~ .active{
    top:25%;
}

.sideBarNavigation li:nth-child(3):hover ~ .active{
    top:50%;
}

.sideBarNavigation li:nth-child(4):hover ~ .active{
    top:75%;
}



.sideContent{
    margin-top: 100px;
    width: 100%;

}

.Me{

    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Name {
    /* border: 1px solid; */
	text-transform: uppercase;
	letter-spacing: .4em;
	display: inline-block;
	padding: 0.5em 0em;
	/* position: absolute;
	top: 17%;
	left: 40%; */
	width: 100%;
	margin: 6em 0 0 -3em;
}
  #Name span {
    /* border: 1px solid red; */
  	font: 700 4em/1 "Oswald", sans-serif;
    font-size: 75px;
  	letter-spacing: 0;
  	padding: .15em 0 .225em;
	  display: block;
	  margin: 0 auto;
      font-style: italic;
      width:40vw;
  }

#MeDescription{

    border: 1px solid transparent;
    color: #391306;
}

#myImage{

    /* border: 1px solid blue; */
    width: 25%;
}

#myPic{
    width:100%;
    height: 100%;
}

#myPicRound{
    display: none;
}

.normalFont{

    font-size: 40px;
}

.nameFont{
    margin: 20px 0px 0px 0px; 
    font-weight: 700;
    font-style: italic;
    font-size: 75px;
}

.descriptionFont{
    margin-top: 20px;
    font-size: 20px;
    word-spacing: 10px;
    line-height: 30px;
}

.aboutMe{
    margin: 100px 20px 20px 20px;
    
}

#techStack>p{
    padding-left: 50px;
    padding-top: 70px;
}

.techStackWrapper{
    /* border: 1px solid red; */
    margin: 20px 20px 20px 20px;
    padding: 40px 30px;
    display: grid;
    margin: auto;
    grid-template-columns: 45% 45%;
    gap: 20px;
}

.techStackCol{
    /* border:1px solid red; */
    border-radius: 6px;
    padding: 10px;
}

.stackENtry{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #183642;
    color: white;
    border-radius: 6px;
    font-size: 30px;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
}

.stackENtry:hover{

    padding: 30px;
    transition: 0.5s;
}

.stackENtry i{
    font-size: 45px;
    margin-right: 20px;
    margin-top: -5px;

}

.stackENtry img{ 
    height: 40px;
    aspect-ratio: 1;
    margin-right: 20px;
}

.stackENtry:nth-child(2) img{
    width: 50px;
}


.projectEntry{
    border: 1px solid;
    border-radius: 20px;
    width:90%;
    padding: 40px;
    margin: auto;
    margin-bottom: 30px;
    /* background-color: #183642; */
    color: #183642;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.projectEntry img {
    width:100%;
}

.projectDetails>h2{

    padding: 1em;
    font-style: italic;
    text-decoration: underline;
}

.projectDetails>h2+p {
    /* border: 1px solid green; */
    padding:1em 0 0.4em 0;
    font-size: 20px;
}

.projectDetails>h2+p+p{
    /* border: 1px solid green; */
    padding:0.5em 0 0.4em 0;
    font-size: 20px;
}

.projectDetails li{
    padding: 1em;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.usedTechInProjects{
    font-size: 50px;
}

.usedTechInProjects i{
    margin:0.5em;
}

.usedTechInProjects img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.deploymentButton{
    background-color: #313D5A;
    color: white;
    margin-top:5em;
    padding:10px;
    border-radius: 6px;
}

.githubButton{
    background-color: #313D5A;
    color:white;
    padding:10px;
    border-radius: 6px;
}

.githubCalender{
    width:90%;
}
.githubCalender>p{
    color: #183642;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.statCard{

    /* margin-left: 50vh; */
    margin-top: 5vh;
    width: 50%;
    
}

.statCard>p>img{
    width:100%;
}

#softskillsWrapper{
    padding: 40px 50px;
    margin-bottom: 10vh;
}

#skills{
    display: flex;
    gap:30px;
    padding: 20px;
}

.skillEntry{

    
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(63, 124, 172, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#statistics{
    width: 100%;
}

footer{
    margin-top: 20vh;
    margin-left: -3vw;
    background-color: #3F7CAC;
}

.footerFont{
    color:rgb(208, 205, 205);
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 18px;
}

#contactWrapper{
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4vh;
    padding: 30px;
}

.contactEntry{
    width:4vw;
}

.contactEntry img{
    width:100%;
}




























@media only screen and (max-width: 800px){

    body{
        display: block;
    }

    #Name span{
        width:70vw;
    }

    #wrapper{
        width: 100vw;
    }

    .topNavigationBar{
        /* border: 1px solid black; */
        visibility: visible;
        height: 100px;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .sideNavigationBar{
        display: none;
    }

    .sideContent{

        /* border: 1px solid black; */
        margin: 150px 0px 0px 0px;
    }

    #myPic{
        display: none;
    }

    #myPicRound{
        display: block;
        width:175%;
        margin-left: 120%;
        margin-top: 40px;
    }

    .Me{
        display: block;
        
    }

    .descriptionFont{
        text-align: center;
        line-height: 30px;
    }

    .stackENtry{
        padding-left: 15px;
    }

    .stackENtry p{
        font-size: 85%;
        padding-top: 3px;
    }
    #skills{
        gap:10px;
    }

    #softskillsWrapper{
        margin-left: 0px;
    }

    
}

























@media only screen and (max-width: 500px){

    .topNavigationBar{
        /* border: 1px solid black; */
        visibility: visible;
        height: 100px;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .stackENtry p{
        display: none;
    }

    .stackENtry{
        padding-left: 48px;
    }

    #Name span{

        font: 700 3em/1 "Oswald", sans-serif;
        width: 85vw;
        font-size: 11vw;
    }

    .stackENtry{
        pointer-events: none;
        padding-left: 45px;
        
    }

    #skills{
        display: grid;
    }

    #softskillsWrapper{
        margin-left: 0px;
    }

}